<main>
    <section class="header-section">
        <h1>Projetos</h1>
    </section>
    <section class="project-section">
        <button class="carousel-nav" (click)="prevProject()" *ngIf="currentIndex !== 0" style="left: -25px; right: none;">
            <i-lucide class="arrow-down" [img]="ChevronLeftIcon" color="var(--foreground)"></i-lucide>
        </button>
        <div class="project-carousel" [@carouselAnimation]="currentIndex">
            <div class="project-details">
                <header><h2>{{ projects[currentIndex].title }}</h2></header>
                <body>
                    <p>{{ projects[currentIndex].description }}</p>
                </body>
                <footer>
                    <a class="default-button" [href]="projects[currentIndex].url" target="_blank">
                        Acessar projeto
                        <i-lucide [img]="ArrowUpRightIcon" color="var(--background)"></i-lucide>
                    </a>
                </footer>
            </div>
            <div class="project-image">
                <img  
                    [src]="projects[currentIndex].images[galleryPreviewIndex]"
                    loading="lazy" 
                    alt="{{ projects[currentIndex].title }}"
                    (click)="openGallery(projects[currentIndex].images)"
                    [class]="imageFadeClass"
                />
            </div>
        </div>
        <button class="carousel-nav" (click)="nextProject()" *ngIf="currentIndex !== projects.length - 1" style="left: none; right: -25px;">
            <i-lucide class="arrow-down" [img]="ChevronRightIcon" color="var(--foreground)"></i-lucide>
        </button>
    </section>
</main>

<div class="gallery-modal" *ngIf="galleryOpen">
    <span class="close" (click)="closeGallery()">&times;</span>
    <div class="modal-content">
        <button class="carousel-nav" (click)="prevImage()" *ngIf="galleryModalIndex !== 0" style="left: 25px; right: none;">
            <i-lucide class="arrow-down" [img]="ChevronLeftIcon" color="var(--foreground)"></i-lucide>
        </button>
        <img [src]="projects[currentIndex].images[galleryModalIndex]" alt="Project Image" />
        <button class="carousel-nav" (click)="nextImage()" *ngIf="galleryModalIndex !== projects[currentIndex].images.length -1" style="left: none; right: 25px;">
            <i-lucide class="arrow-down" [img]="ChevronRightIcon" color="var(--foreground)"></i-lucide>
        </button>
    </div>
</div>
