<main>
    <section class="header-section">
        <h1>Experiência</h1>
    </section>
    <section class="experience-card-section">
        <div class="experience-card">
            <header class="experience-card-header">
                <img src="assets/images/logo_betha.png" alt="Betha Sistemas">
                <h4>Betha Sistemas</h4>
            </header>
            <div class="experience-card-body">
                <p>Trabalhei na vertical Saúde, onde cuidávamos de um sistema voltado para a gestão interna de hospitais, voltado para o setor público. Durante meu período na Betha, desenvolvi novas funcionalidades para várias rotinas, como gerenciamento de relatórios, inventário, prescrições, atendimento e várias outras.</p>
            </div>
            <footer class="experience-card-footer">
                <span>Mar. 2021</span>
                <hr>
                <span>Jul. 2022</span>
            </footer>
        </div>
        <hr>
        <div class="experience-card">
            <header class="experience-card-header">
                <img src="assets/images/logo_senior.png" alt="Senior Sistemas">
                <h4>Senior Sistemas</h4>
            </header>
            <div class="experience-card-body">
                <p>Atuo no módulo financeiro do sistema ERP-X, desenvolvendo novas rotinas, integrações com sistemas legado e outros módulos, além de dar manutenção em nossos microsserviços. Ao mesmo tempo, presto apoio à equipe em diversas necessidades, atuo em testes cruzados, code reviews e outros procedimentos.</p>
            </div>
            <footer class="experience-card-footer">
                <span>Set. 2022</span>
                <hr>
                <span>Momento</span>
            </footer>
        </div>
    </section>
</main>
