<main>
    <section>
        <h1>Quem sou eu</h1>
        <p>Desenvolvedor de software com quatro anos de atuação na área, dedicado ao desenvolvimento full-stack usando frameworks javascript para frontend e Java com Spring Boot para o backend. Ao longo do meu aprendizado e carreira, também tive contato com diversas outras ferramentas e tecnologias, listadas logo abaixo: </p>
    </section>
    <section class="image-section">
        <img src="assets/images/1555__CAF0185.jpg" 
            alt="Skills" 
            class="skills-image" 
        />
    </section>
</main>
