<main [@helloPosition]="textPosition">
    <h1>
        <span class="welcome-hello">
            Olá, seja bem vindo!
        </span>
        <br>
        <span class="welcome-presentation">
            Me chamo <span class="welcome-name">Thiago</span>
        </span>
    </h1>
    <button class="default-button" style="max-width: 430px;">
        <span>Visualizar currículo</span>
        <i-lucide [img]="FileTextIcon" color="var(--background)"></i-lucide>
    </button>
    <i-lucide class="arrow-down" [img]="ArrowDownIcon" color="var(--foreground)"></i-lucide>
</main>
