<main>
    <section class="header-section">
        <h1>Formação</h1>
    </section>
    <section class="education-card-section">
        <div class="education-card">
            <div class="education-card-content">
                <header class="education-card-header">
                    <h4>Bacharel em Ciências da Computação</h4>
                    <p>Universidade do Extremo Sul Catarinense</p>
                </header>
                <footer class="education-card-footer">
                    <span>2019</span>
                    <hr>
                    <span>2023</span>
                </footer>
            </div>
            <img src="assets/images/logo_unesc.png" alt="UNESC">
        </div>
    </section>
</main>
