<main>
    <section class="header-section">
        <h1>Habilidades</h1>
    </section>
    <section class="skill-card-section">
        <div class="skill-card-row">
            <div class="skill-card">
                <img src="assets/images/logos_javascript_skill-icon.svg" alt="HTML">
                <h2>Javascript</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_angular_skill-icon.svg" alt="Angular">
                <h2>Angular</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_primeng_skill-icon.svg" alt="PrimeNG">
                <h2>PrimeNG</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_html5_skill-icon.svg" alt="HTML">
                <h2>HTML</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_css3_skill-icon.svg" alt="CSS">
                <h2>CSS</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/logos_bootstrap_skill-icon.svg" alt="Bootstrap">
                <h2>Bootstrap</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_angularjs_skill-icon.svg" alt="AngularJS">
                <h2>AngularJS</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_typescript_skill-icon.svg" alt="Typescript">
                <h2>Typescript</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_firebase_skill-icon.svg" alt="Firebase">
                <h2>Firebase</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_java_skill-icon.svg" alt="Java">
                <h2>Java</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_spring_skill-icon.svg" alt="Spring Boot">
                <h2>Spring Boot</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_rabbitmq_skill-icon.svg" alt="RabbitMQ">
                <h2>RabbitMQ</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_postgresql_skill-icon.svg" alt="PostgreSQL">
                <h2>PostgreSQL</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_git_skill-icon.svg" alt="Git">
                <h2>Git</h2>
            </div>
            <div class="skill-card">
                <img src="assets/images/devicon_figma_skill-icon.svg" alt="Figma">
                <h2>Figma</h2>
            </div>
        </div>
    </section>
</main>
